<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.np.ece.assettracking"
    android:installLocation="internalOnly">

    <!-- required to scan for and connect to Estimote Beacons via Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- required to access Cloud -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".NewBeaconActivity"
            android:label="@string/title_activity_new_beacon" />
        <activity
            android:name=".ScanBeaconActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieActivity"
            android:label="@string/title_activity_movie" />
        <activity
            android:name=".BeaconListActivity"
            android:label="@string/title_activity_beacon_list" />
        <activity
            android:name=".NewEquipmentActivity"
            android:label="@string/title_activity_new_asset" />
        <activity
            android:name=".NewLocationActivity"
            android:label="@string/title_activity_new_location" />
        <activity
            android:name=".ViewLocationActivity"
            android:label="@string/title_activity_view_location" />
        <activity
            android:name=".PickBeaconActivity"
            android:label="@string/title_activity_pick_beacon" />
        <activity
            android:name=".LocationListActivity"
            android:label="@string/title_activity_location_list" />
        <activity
            android:name=".EquipmentListActivity"
            android:label="@string/title_activity_equipment_list" />
        <activity
            android:name=".ViewEquipmentActivity"
            android:label="@string/title_activity_view_equipment" />

        <service
            android:name=".BeaconScanningService"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleInstance" />
        <service
            android:name=".BeaconMonitoringService"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleInstance" />

        <receiver
            android:name=".BluetoothStateReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ActionUserPresentReceiver">
            <intent-filter
                android:enabled="true"
                android:exported="false">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"/>

        <service android:name=".Geofence.GeofenceTransitionsIntentService" />
    </application>

</manifest>